.Footer-contacts {
    /* Контакты */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 1280px;
    height: 71px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.Footer-phone {
    /* Телефон: */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 290px;
    height: 49px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Footer-item {
    /* Телефон: */

    width: 290px;
    height: 17px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White & Gray/White */
    color: #FFFFFF;

    text-align: left;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Footer-content {
    width: 290px;
    height: 22px;

    /* Subtitle/Desktop/Subtitle Bold */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White & Gray/White */
    color: #FFFFFF;

    text-align: left;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Footer-email {
    /* Ел. почта: */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 290px;
    height: 49px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Footer-address-office {
    /* Адрес офиса: */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 290px;
    height: 71px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.Footer-address-object {
    /* Адрес обекта: */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 290px;
    height: 71px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}